<!DOCTYPE html>
<html>
    <head>
        <link href="../static/style.css"
        type="text/css"
        rel="stylesheet">
        <title>Mario & Luigi's Pizzeria</title>
        <link rel="icon"
        type="image/ico"
        href="../static/favicon.ico">
    </head>
    <div class = "header">
        <form action="index.html" id="mainpage"></form>
        <form action="menu.html" id="menupage"></form>
        <form action="order.html" id="orderpage"></form>
        <form action="contact.html" id="contactpage"></form>

        <button form="mainpage" class = "icon"><image src="../static/pzicon1.png" height="125px"></image></button>

        <image src="../static/divline.png" class = "l1" height="100px"></image>
        <button form="menupage" class = "headerbtn"><image src="../static/icon1.png" width="50px"></image>
            <div class = "headbtnicons"><image src="../static/icon1a.png" width="50px"></image></div>
            <br><text>OUR MENU</text></button>

        <image src="../static/divline.png" class = "l2" height="100px"></image>
        <button form="orderpage" class = "headerbtn"><image src="../static/icon2.png" width="50px"></image>
            <div class = "headbtnicons"><image src="../static/icon2a.png" width="50px"></image></div>
            <br><text>ORDER NOW</text></button>
        
        <image src="../static/divline.png" class = "l3" height="100px"></image>
        <button form="contactpage" class = "headerbtn"><image src="../static/icon3.png" width="50px"></image>
            <div class = "headbtnicons"><image src="../static/icon3a.png" width="50px"></image></div>
            <br><text>CONTACT US</text></button>

        <image src="../static/divline.png" class = "l4" height="100px"></image>
    </div>  
    <div class = "smolheader">
        <button form="mainpage" class="icon2"><image src="../static/pzicon2.png" height="50px"></image></button>

        <image src="../static/divline.png" class = "sl1" height="50px"></image>
        <button form="menupage" class = "smolbtn"><image src="../static/icon1.png" width="25px"></image>
            <div class = "smolbtnicons"><image class = "smolicon1" src="../static/icon1a.png" width="25px"></image></div><text class = "smolhead">&nbsp;&nbsp;OUR MENU</text></button>

        <image src="../static/divline.png" class = "sl2" height="50px"></image>
        <button form="orderpage" class = "smolbtn"><image src="../static/icon2.png" width="25px"></image>
            <div class = "smolbtnicons"><image class = "smolicon2" src="../static/icon2a.png" width="25px"></image></div><text class = "smolhead">&nbsp;&nbsp;ORDER NOW</text></button>

        <image src="../static/divline.png" class = "sl3" height="50px"></image>
        <button form="contactpage" class = "smolbtn"><image src="../static/icon3.png" width="25px"></image>
            <div class = "smolbtnicons"><image class = "smolicon2" src="../static/icon3a.png" width="25px"></image></div><text class = "smolhead">&nbsp;&nbsp;CONTACT US</text></button>

        <image src="../static/divline.png" class = "sl4" height="50px"></image>
    </div> 
    <div class = sectionfull>
        <image src="../static/bg5.png" class="bgfull"></image>
        <div class="textboxfull">
            <div class = "txtbxhdr">OUR MENU<br><image class = "txtbxhdr" src="../static/squiggly.png" height="75px"></image></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>
            <div class = "txtlist">ITEM NAME .................................................... €20<Br><text class = "txtdesc">BRIEF DESCRIPTION</text></div><br>

            <button class = "menubtn">ORDER NOW</button>
    </div>
    <div class = "footer adjustfooter">
        <div class = "textbox3">
            <div class = "txtbxhdr">CONTACT US<br><image class = "txtbxhdr" src="../static/squiggly.png" height="75px"></image></div><br>
            <div class = "contact">
                marioandluigis@gmail.com    <br>
                                            <br>
                Via S. Maria 19             <br>
                Palinuro, Salerno           <br>
                                            <br>
                +39 4426123456              <br>
                +39 7853654321
            </div>
        </div>
        <image src="../static/bg4.png" class = "bg4"></image>
    </div>
</html>